*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::selection {
    background-color: #ff800053;
}

*::-moz-selection {
    background: #ff800053;
}

/* * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

} */

* {
    -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #fafafa;
}
::-webkit-scrollbar-thumb{
   background-color: #ff6200;
   /* border-radius: 20px; */

}

html{
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
:root{
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    cursor:default;
    --color-white: #fff;
    --color-black: #000;
}
.hamburger-color-invert{
    --color-white: #000;
}
#preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    z-index: 999999;
}
#preloader img{
    height: 150px;
    animation: bounce-in-top 1.1s both;
}
@keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  
header{
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.807),rgba(0, 0, 0, 0.495)), url(img/hero.webp);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    z-index: 9999;
}

.Navbar-Container{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

}

.logo-white{
    height: 100px;
}
.main-nav{
    list-style: none;
}
.main-nav li{
    display: inline-block;
    margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    font-size: 2rem;
}
.tab-hover-border{
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ff6200;
    bottom: 0px;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.2s ease-out;
    transform-origin: right;
}
.main-nav li a:hover .tab-hover-border{
    transform: scaleX(1);
    transform-origin: left;
 
}
.fixednav{
    position: fixed;
    height: 80px;
    background-color: #ffffffb8;
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.093);

}
.fixednav .logo-white{
    filter: invert(1);
    height: 70px;
    /* padding: 10px; */
}
.fixednav .Navbar-Container .main-nav li a{
    color: black;
    padding: 25px 0;
}
.hamburger{
    display: none;
}
.dark-overlay{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.597);
    backdrop-filter: blur(5px);
    display: none;
}
.activeThistab .tab-hover-border{
    transform: scaleX(1);
    transform-origin: left;
}
.header-text{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    transform: translate(-50%, -50%);

}

.btn:link,
.btn:visited{
    margin-top: 25px;
    font-size: 2rem;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 8px;
    text-decoration: none;
    transition: all .2s;
    font-weight: 400;
}
.btn-full:link,
.btn-full:visited{
    background-color: #ff6200;
    margin-right: 15px;
    border: 1px solid #ff6200;
    color: #fff;
}
.btn-border:link,
.btn-border:visited{
    border: 1px solid #ff6200;
    color: #ff6200;
}
.btn:hover,
.btn:active{
    background-color: #ff6200;
}
.btn-full:hover,
.btn-full:active{
    border: 1px solid #ff9100;
    background-color: #ff9100;
}
.btn-border:hover,
.btn-border:active{
    background-color: 1px solid #ff6200;
    color: #fff;
}

h1, h2, h3{
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;

}
h1{
    color: #fff;
    word-spacing: 3px;
    font-size: 5.2rem;
}
h2{
    font-size: 4rem;
    word-spacing: 2px;
    text-align: center;
    color: rgb(0, 0, 0);
    position: relative;
    display: flex;
    justify-content: center;
}
h2::after{
    content: " ";
    position: absolute;
    bottom: -25px;
    height: 2px;
    background-color: #ff6200;
    width: 100px;
    margin-top: 25px;
}
h3{
    font-size: 2.3rem;
    margin-bottom: 15px;
    font-weight: 400;
    color: rgb(80, 80, 80);
}


.section{
    padding: 80px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row{
    width: 75%;
}
.feature-text{
    width: 70%;
    line-height: 145%;
    margin-top: 50px;
    text-align: center;
    font-size: 2rem;
    color: #2c2c2c;
    letter-spacing: .2px;
}
.feature-row{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feature-description{
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.feature-box{
    padding: 10px;
}
.feature-box p{
    font-size: 1.9rem;
    line-height: 145%;

    color: #2c2c2c;
}
.icon-big{
    font-size: 7rem;
    color: #ff6200;
    margin-bottom: 10px;
    display: block;
}
.section-meals{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.meals-showcase{
    list-style: none;
    width: 100%;
    display: flex;
    gap: 10px;
    
}
.meals-showcase li{
    display: block;
    width: 25%;
}
.meal-photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}
.meal-photo img{
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s;
    opacity: 0.7;
}
.meal-photo img:hover{
    transform: scale(1.03);
    opacity: 1.0;
}

.mobile-app-container{
    margin-top: 80px;
    display: flex;
    align-items: center;
    gap: 80px;
    height: 500px;
}
.app-download-image-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 50%;
    /* position: relative; */
}
.mobile-app-image{
    height: 500px;
    animation: float 3s linear both infinite ;
}

@keyframes float{
    0%{
        transform: translateY(-20px);
    }
    50%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-20px);
    }
}
.mobile-shadow{
    margin-right: 40px;
    width: 100px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.845);
    filter: blur(30px);
    animation: float-shadow 3s linear both infinite ;
}
@keyframes float-shadow{
    0%{
        margin-right: 40px;
        width: 300px;
        height: 30px;
        filter: blur(30px);
    }
    50%{
        
        margin-right: 120px;
        width: 140px;
        height: 20px;
        filter: blur(10px);
    }
    100%{
        margin-right: 40px;
        width: 300px;
        height: 30px;
        filter: blur(30px);
    }
}
.three-simple-steps{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;

}
.steps{
    gap: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.count{
    height: 60px;
    width: 60px;
    font-size: 3.5rem;
    color: #ff6200;
    border: 2px solid #ff6200;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.steps-para{
    width: 80%;
    font-size: 1.9rem;
    line-height: 145%;
    color: #2c2c2c;
    word-wrap: break-word;
    line-break: loose;

}
.download-app-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 50px;
}
.app-store-logo{
    height: 55px;
}
.play-store-logo{
    height: 50px;
}


.all-cities-container{
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.city-grid-box{
    width: 100%;
}
.city-grid-box{
    padding-bottom: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.122);
}
.city-grid-box h3{
    padding-top: 10px;
    padding-left: 20px;
}
.cities-data{
    padding-left: 20px;
}
.city-grid-box img{
    width: 100%;
    margin-bottom: 5px;
}
.cities-data a{
    text-decoration: none;
    color: #ff6200;
}
.cities-data{
    margin-bottom: 10px;
    font-size: 2rem;
    text-decoration: none;
    color: black;
}
.icon-small{
    color: #ff6200;
    display: inline-block;
    margin-right: 5px;
    font-size: 2.2rem;
    vertical-align: middle;

}
.testimonial-section{
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.feedback-row-container{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.testimonial-section{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.80)), url(img/pizza-slices-food.webp);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.feedback-heading-row h2{
    color: white;
}
.feedback-container{
    width: 100%;
}
blockquote{

    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    font-size: 2rem;
    font-style: italic;
    color: white;
}
blockquote img{
    width: 50px;
    border-radius: 50%;
}
blockquote::before {
    content: "\201C";
    font-size: 10rem;
    display: block;
    position: absolute;
    top: -60px;
    left: -5px;
    font-family: "lato" ,"arial",sans-serif;
}
cite{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.plan-row-container-wrapper{
    margin-top: 75px;
    display: flex;
    align-items: center;
}
.plan-row{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
}
.plan-card{
    width: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.122);
    display: flex;
    flex-direction: column;
}
.plan-price-box{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ff62002c;
}

.plan-price-box h3{
    font-size: 2rem;
    margin-bottom: 0;
}
.plan-price{
    font-size: 5rem;
    color: #ff6200;
}
.plan-price span{
    font-size: 2rem;
}
.per-meal-price{
    font-size: 2rem;
    color: #2c2c2c;
}
.plan-details-box{
    padding: 20px;
    width: 100%;
}
.plan-details-box ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.plan-details-box ul li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    font-size: 2rem;
}
.plan-details-box ul li svg{
    height: 2rem;
    /* fill: #5b5b5b; */
    fill: #ff6200;
}
.cross-svg path{
    fill: #ff62006c;
}

.sign-up-button-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}


.signupBtn {
    z-index: 3;
    font-size: 1.9rem;
    font-weight: 400;
    padding-bottom: 2px;
    width: 140px;
    height: 40px;
    border-radius: 30px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    gap: 9px;
    color: white;
    background: linear-gradient(to right,#ff6200,#ff3300);
    position: relative;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.212);
    text-decoration: none;
  }
  
  .arrow {
    position: absolute;
    right: 7.5px;
    background-color: rgb(255, 255, 255);
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
   .arrow {
    animation: slide-in-left 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) alternate-reverse infinite;
  }
  
  .sign-up-button-border:hover .arrow{
    animation: slide-in-left 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  @keyframes slide-in-left {
    0% {
      transform: translateX(-10px);
      opacity: 0;
    }
  
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .sign-up-button-border{
    color: #ff3300;
    background: linear-gradient(transparent,transparent);
    border:2px solid #ff3300;
    box-shadow: none;
  }
  .sign-up-button-border .arrow{
    animation: none;

  }
.plan-card{
    position: relative;
    overflow: hidden;
}
  
  
.plan-card:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
    z-index: 2;
  }
  
  .plan-card:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
    z-index: 2;
  }
  
 
  
  .plan-card:hover:before {
    border-color:  #ff6200;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
  }
  
  .plan-card:hover:after {
    border-color: #ff6200;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .5s;
  }

  /* Contact form code starts from here */
  .form-section{
    background-color: #eeeeee;
  }
  .form-container{
    margin-top: 75px;
  }
  form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

  }
  .input-container{
    width: 60%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .input-container label{
    width:50%;
    font-size: 2rem;
  }
  .input-container input[type="text"]{
    width: 50%;
    height: 100%;
    padding-left: 10px;
    outline: none;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.016);
    caret-color: #ff6200;
    background-color: white;
  }
  .input-container input:focus{
    /* background-color: #ff620025; */
    border: 1px solid #ff6200;
  }
  ::-webkit-input-placeholder{
    color: #838383;
    letter-spacing: 0.5px;
  }
  select{
    height: 100%;
    width: 50%;
    padding-left: 10px;
    outline: none;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.016);
    color: #2d2d2d;
    background-color: white;
  }
  select:focus{
    border: 1px solid #ff6200;
  }
  #yesPlease{
    margin-left: 10px;
    width: unset;
    cursor: pointer;
  }
  textarea{
    height: 100%;
    width: 50%;
    padding-left: 10px;
    padding-top: 10px;
    outline: none;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.016);
    caret-color: #ff6200;
    background-color: white;
  }
  textarea:focus{
    border: 1px solid #ff6200;
  }


  
  /* footer code starts from here */
  footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    background-color: #181818;
  }

  .socials-container{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding-top: 80px;
   
  }
  .social{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid rgb(152, 152, 152);
    transition: all .2s;
  }
  .twitter:hover{
    background: linear-gradient(45deg, #66757f, #00acee, #36daff, #dbedff);
  }
  .facebook:hover{
    background: linear-gradient(45deg,#134ac0, #316FF6, #78a3ff);
  }
  .google-plus:hover{
    background: linear-gradient(45deg,#872419,#db4a39,#ff7061);
  }
  .instagram:hover{
    background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    }
  .social svg{
    fill: white;
    height: 2rem;
  }
  .links-container{
    padding-bottom: 40px;
  }
  .links-container ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
  }

  .links-container ul li{
    list-style: none;
  }
  .links-container ul li a {
    text-decoration: none;
    font-size: 2rem;
    color: white;
    position: relative;
  }
  .links-container ul li a::before{
      position: absolute;
    content: '';
    background-color: #ff6200;;
    width: 100%;
    height: 2px;
    bottom: -3px;
    left: 0px;
    transition: transform 0.2s ease-out;
    transform: scaleX(0);
    transform-origin: right;
  }
  .links-container ul li a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
  }
 .footer-bottom{
    width: 100%;
    height: 50px;
    background-color: rgb(29, 29, 29);
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .footer-bottom p{
    font-size: 1.5rem;
    color: rgb(202, 202, 202);
    font-weight: 300;
    letter-spacing: 1px;
 }
  .back-to-top-button{
    width: 45px;
    height: 45px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 50%; */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.159);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    display: none;
    transition: all .2s;
  }
  .back-to-top-button img{
    width: 70%;
  }
  .back-to-top-button:hover{
    transform: translateY(-10px);
  }
  